@import url('fonts/horizon/stylesheet.css');

html {
    position: relative;
    min-height: 100%;
}

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bg-guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#portfolio {
    background: linear-gradient( rgba(33, 33, 33, 1), rgba(52, 58,64, 1) );
}

#contact {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/bg-notebook.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -72px;
}

.h100 {
    height: 100vh;
}

#sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

#sticky-nav.scrolled {
    background-color: #212121 !important;
    transition: background-color 500ms linear;
    z-index: 999;
  }

h1, h2 {
    font-family: horizonregular;
}

.landing-font-lg {
    font-size: 9rem;
    color: white;
}

#landing-font-md {
    font-size: 6rem;
    color: white;
}
#banner-dark-grey {
    background-color: #212121;
}

#banner-grey {
    background-color: #343a40;
}

#landing-div {
    margin-top: 16rem;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.landing-btn {
    border-radius: 0rem !important; 
    color: white !important;
    border: 2px solid white !important;
}

.landing-btn:hover {
    color: #343a40 !important;
}

p {
    color: $secondary;
}


.logo {
    height: 1.8rem;
}

.portfolio-icons {
    font-size: 2em;
    color: #343a40;
}



.social-icons {
    font-size: 3rem;
    color: white;
    padding: 0 0.6rem 0 0.6rem;
}

.social-icons > a {
    color: white;
}
